<html>
    <head>
        <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <link rel="stylesheet" type="text/css" href="style.css"/>
        <script src="app.js"></script>
        <title>Stir Fryday</title>
    </head>
    <div id="outer" ng-controller="MainController">
    <h1>Stir Fryday</h1>
    <input type="button" value="Logoff" ng-click="logoff()"/>
    <input type="button" value="View My Recipes" ng-click="viewRecipes()"/>
    </div>
    <body ng-app="StirFryApp">
    <div id="mainarea"   ng-controller ="RecipeController">

        <div id = "Recipe">
            <input type ="button" value="Create a new recipe" ng-click="newRecipe()" class="button"/>
            <input type ="button" ng-click="goBack()" value = "Go Back" class="button"/><br/>
            <div ng-show ="Sides" id="sidesDiv">
                <div id="noodles" ng-click="pickSide('Noodles')"><h1 class="ButtonTextLight">Noodles</h1></div>
                <div id="rice" ng-click="pickSide('Rice')"> <h1 class="ButtonTextDark">Rice</h1></div>
            </div>
             <div ng-show ="Veggies" id="veggiesDiv">
                
                <div id="cabbage" class="VeggieDivs" ng-click="pickVeggie('Cabbage')"><h2 class="ButtonTextLight">Cabbage</h2></div>
                <div id="chillies" class="VeggieDivs" ng-click="pickVeggie('Chillis')"><h2 class="ButtonTextLight">Chillies</h2></div>
                <div id="snowpeas" class="VeggieDivs" ng-click="pickVeggie('SnowPeas')"><h2 class="ButtonTextLight">Snow Peas</h2></div>
                 <div id="onions" class="VeggieDivs" ng-click="pickVeggie('Onions')"><h2 class="ButtonTextLight">Onions</h2></div>
                <div id="bokchoi" class="VeggieDivs" ng-click="pickVeggie('BokChoi')"><h2 class="ButtonTextLight">Bok Choi</h2></div>
                <div id="redpeppers" class="VeggieDivs" ng-click="pickVeggie('RedPeppers')"><h2 class="ButtonTextLight">Red Peppers </h2></div>
                <div id="brocolli" class="VeggieDivs" ng-click="pickVeggie('Broccoli')"><h2 class="ButtonTextLight">Broccoli</h2></div>
                <div id="carrots" class="VeggieDivs" ng-click="pickVeggie('Carrots')"><h2 class="ButtonTextLight">Carrots</h2></div>
                <div id="greenbeans" class="VeggieDivs" ng-click="pickVeggie('GreenBeans')"><h2 class="ButtonTextLight">Green Beans</h2></div>
                <!--<label> Selections: </label>
                 <div ng-repeat="veg in vegetables">
                     <label ng-if="veg.value == true"> {{veg.name}} </label>
                </div>-->
                <input type ="button"  ng-click="setVeggies()" value = "Submit" class="button" style="width: 98.6%"/>
            </div>
             <div ng-show ="Meat">
                <div id="chicken" class="MeatDivs" ng-click="pickMeat('Chicken')"><h2 class="ButtonTextLight">Chicken</h2></div>
                <div id="beef" class="MeatDivs" ng-click="pickMeat('Beef')"><h2 class="ButtonTextLight">Beef</h2></div>
                <div id="pork" class="MeatDivs" ng-click="pickMeat('Pork')"><h2 class="ButtonTextLight">Pork</h2></div>
                <div id="shrimp" class="MeatDivs" ng-click="pickMeat('Shrimp')"><h2 class="ButtonTextLight">Shrimp</h2></div>
                <div id="tofu" class="MeatDivs" ng-click="pickMeat('Tofu')"><h2 class="ButtonTextLight">Tofu</h2></div>
                <div id="nomeat" class="MeatDivs" ng-click="pickMeat('No Meat')"><h2 class="ButtonTextLight">No Meat</h2></div>
            </div>
            <div ng-show ="Sauce">
                <div id="basicsauce" class="MeatDivs" ng-click="pickSauce('Basic Sauce')" ng-mouseenter="showInfo('Basic')" data-ng-mouseleave="showCurrent()"><h2 class="ButtonTextLight">Basic Sauce</h2></div>
                <div id="currysauce" class="MeatDivs" ng-click="pickSauce('Curry Sauce')" ng-mouseenter="showInfo('Curry')" data-ng-mouseleave="showCurrent()"><h2 class="ButtonTextLight">Curry Sauce</h2></div>
                <div id="orangesauce" class="MeatDivs" ng-click="pickSauce('Orange Ginger Sauce')" ng-mouseenter="showInfo('Orange')" data-ng-mouseleave="showCurrent()"><h2 class="ButtonTextLight">Orange Ginger Sauce</h2></div>
                <div id="blackpeppersauce" class="MeatDivs" ng-click="pickSauce('Black Pepper')" ng-mouseenter="showInfo('Black')" data-ng-mouseleave="showCurrent()"><h2 class="ButtonTextLight">Black Pepper Sauce</h2></div>
                <div id="sweetsoursauce" class="MeatDivs" ng-click="pickSauce('Sweet Sour')" ng-mouseenter="showInfo('Sweet')" data-ng-mouseleave="showCurrent()"><h2 class="ButtonTextLight">Sweet and Sour Sauce</h2></div>
                <div id="customSauce" class="MeatDivs" ng-click="customSauce()"><h2 class="ButtonTextLight">Custom Sauce</h2></div>
                 <input type ="button" ng-click="recommendSauce()" value = "Recommend a Sauce" class="button" style="width: 98.6%"/>
            </div>
             <div ng-show ="Review">
                 <h4> Review your recipe</h4>
                 <textarea readonly> Side: </textarea>
                 <textarea readonly id="side" value="{{side}}">{{side}}</textarea><br/>
                 <textarea readonly> Meat: </textarea>
                 <textarea readonly id="meat" value="{{meat}}">{{meat}}</textarea><br/>
                 <textarea readonly> Sauce: </textarea>
                 <textarea readonly id="sauce" value="{{sauce}}">{{sauce}}</textarea><br/>
                 <textarea readonly > Vegetables: </textarea>
                 <div ng-repeat="veg in vegetables">
                     <textarea readonly ng-if="veg.value == true"></textarea>
                     <textarea readonly ng-if="veg.value == true" class="veg" value="{{veg.name}}">{{veg.name}}</textarea>
                </div>
                <input type ="button" ng-click="saveRecipe()" value="Save Recipe" class="button"/>
                <input type ="button" ng-click="searchRecipes()" value = "Search Similar Recipes using ingredients" class="button"/>
            </div>
        </div>
        <div class ="current" ng-show ="Current">
                 <h4> Review your recipe</h4>
                 <p> Side: {{side}} </p>
                 <p> Meat: {{meat}} </p>
                 <p> Sauce: {{sauce}}</p>
                 <p> Vegetables:  </p> 
                 <span ng-repeat="veg in vegetables">
                     <p ng-if="veg.value == true"></p>
                     <p ng-if="veg.value == true" class="veg" value="{{veg.name}}">{{veg.name}}</p>
                </span> 
        </div>
        <div class ="current" ng-show ="Info">
                 <h4> Sauce Ingredients</h4>
                 <div ng-repeat="i in ingredients">
                    <p>{{i}}<p>
                 </div>
        </div>
    </div>
</body>

</html>