<html>
    <head>
        <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
        <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular-route.js"></script>
        <link rel="stylesheet" type="text/css" href="style.css"/>
        <script src="app.js"></script>
    </head>
    <h1>Stir Fryday</h1>

    <div ng-app="StirFryApp" ng-controller="MainController">
        <input type ="button" value="Create a new recipe"/>
        <!--<div ng-view=""/>-->

        <div id = "Recipe" ng-controller ="RecipeController">
            <div ng-show ="Sides" id="sidesDiv">
                <img src="https://maxcdn.icons8.com/Color/PNG/96/Food/noodles-96.png" title="Noodles" width="96" ng-click="pickSide('Noodles')">
                <h4>Noodles</h4>
                <img src="https://maxcdn.icons8.com/Color/PNG/96/Food/rice_bowl-96.png" title="Rice Bowl" width="96" ng-click="pickSide('Rice')">
                <h4>Rice</h4>
            </div>
             <div ng-show ="Veggies">
                <!--<input type ="checkbox" ng-model="vegetables.RedPeppers.value">Red Peppers </input><br/>-->
                <img src="https://maxcdn.icons8.com/Color/PNG/96/Food/carrot-96.png" title="Carrot" width="96">
                <input type ="checkbox" ng-model="vegetables.Carrots.value">Carrots </input><br/>
                <img src="https://maxcdn.icons8.com/Color/PNG/96/Food/cabbage-96.png" title="Cabbage" width="96">
                <input type ="checkbox" ng-model="vegetables.Cabbage.value">Cabbage </input>
                <img src="https://maxcdn.icons8.com/Color/PNG/96/Cultures/chili_pepper-96.png" title="Chili Pepper" width="96">
                <input type ="checkbox" ng-model="vegetables.Chillis.value">Chillis </input><br/>
                <img src="https://maxcdn.icons8.com/Color/PNG/96/Plants/onion-96.png" title="Onion" width="96">
                <input type ="checkbox" ng-model="vegetables.Onions.value">Onions </input>
                <img src="https://maxcdn.icons8.com/Color/PNG/96/Food/peas-96.png" title="Peas" width="96">
                <input type ="checkbox" ng-model="vegetables.SnowPeas.value">Snow Peas</input><br/>
                <!--<input type ="checkbox" ng-model="vegetables.BeanSprouts.value" >Bean Sprouts </input>-->
                <!--<input type ="checkbox" ng-model="vegetables.BokChoi.value">Bok Choi </input><br/>-->
                <img src="https://maxcdn.icons8.com/Color/PNG/96/Plants/broccoli-96.png" title="Broccoli" width="96">
                <input type ="checkbox" ng-model="vegetables.Broccoli.value">Broccoli </input>
                <img src="https://maxcdn.icons8.com/Color/PNG/96/Food/corn-96.png" title="Corn" width="96">
                <input type ="checkbox" ng-model="vegetables.BabyCorn.value">Baby Corn </input><br/>
                <!--<input type ="checkbox" ng-model="vegetables.GreenBean.value">Green Beans </input>-->
                <input type ="button"  ng-click="setVeggies()" value = "Submit"/>
            </div>
             <div ng-show ="Meat">
                <table id ="Meats">
                <tr>
                    <td><img src="https://maxcdn.icons8.com/Color/PNG/96/Animals/cow-96.png"  align="middle" ng-click="pickMeat('Beef')" title="Cow" width="120"></td>
                    <td><img src="https://maxcdn.icons8.com/Color/PNG/96/Animals/chicken-96.png" align="middle" ng-click="pickMeat('Chicken')" title="Chicken" width="120"></td>
                   <tr> <td><h4 align="middle">Beef</h4></td><td><h4 align="center">Chicken</h4></td> </tr>
                 </tr>
                 <tr>
                   <td> <img src="https://maxcdn.icons8.com/Color/PNG/96/Animals/pig-96.png" align="middle" ng-click="pickMeat('Pork')" title="Pig" width="120"> </td>
                    <td><img src="https://maxcdn.icons8.com/Color/PNG/96/Animals/prawn-96.png" align="middle" ng-click="pickMeat('Shrimp')" title="Prawn" width=""></td>
                    <tr><td><h4 align="center">Pork</h4></td><td><h4 align="center">Shrimp</h4></td></tr>
                </tr>
                <tr>
                    <td><img src="https://maxcdn.icons8.com/Color/PNG/96/Plants/soy-96.png" align="middle" ng-click="pickMeat('Tofu')" title="Soy" width="120"></td>
                    <td><img src="https://maxcdn.icons8.com/Color/PNG/96/Food/vegan_food-96.png"  align="middle" ng-click="pickMeat('No Meat')" title="Vegan Food" width="120"></td>
                   <tr> <td><h4 align="center">Tofu</h4></td> <td><h4 align="center">No Meat</h4></td> </tr>
                </tr>
                </table>
            </div>
            <div ng-show ="Sauce">
                 <input type ="button" ng-click="pickSauce('Basic Sauce')" value = "Basic Stir Fry Sauce"/>
                 <input type ="button" ng-click="pickSauce('Curry Sauce')" value = "Curry Sauce"/>
                 <input type ="button" ng-click="pickSauce('Orange Ginger Sauce')" value = "Orange-Ginger Sauce"/>
                 <input type ="button" ng-click="pickSauce('Black Pepper')" value = "Black Pepper Sauce"/>
                 <input type ="button" ng-click="pickSauce('Sweet Sour')" value = "Sweet & Sour Sauce"/>
                 <input type ="button" ng-click="customSauce()" value = "Custom Sauce"/>
                 <input type ="button" ng-click="recommendSauce()" value = "Recommend a Sauce"/>
            </div>
             <div ng-show ="Review">
                 <h4> Review your recipe</h4>
                 <label> Side: {{side}} </label><br/>
                 <label> Meat: {{meat}} </label><br/>
                 <label> Sauce: {{sauce}} </label><br/>
                 <label> Vegetables: </label></br>
                 <div ng-repeat="veg in vegetables">
                     <label ng-if="veg.value == true"> {{veg.name}}</br> </label>
                </div>
                <input type ="button" ng-click="saveRecipe()" value = "Save Recipe"/>
                <input type ="button" ng-click="searchRecipes()" value = "Search Similar Recipes using ingredients"/>
            </div>
        </div>
    </div>

</html>